@charset "UTF-8";

main{
    background-color: rgba(186, 205, 216, 0.459);
}
.container{
    display: flex; /* Ou display: grid; */
  }
  
  .cont{
    flex: 0; /* As colunas dividem o espaço igualmente */
    padding: 10px; /* Espaçamento interno nas colunas */
    border: 1px solid rgb(0, 0, 0); /* Borda opcional para visualização */
  }
  
  .co{
    width: 60px;
    height: 60px;
    padding: 5px; /* Espaçamento interno nas divs internas */
    border: 1px solid rgb(0, 0, 0); /* Borda opcional para visualização */
  }